---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <title>11ty Plugin Lucice Icons - Demo</title>
    <link href="https://unpkg.com/fylgja/fylgja.css" rel="stylesheet">
</head>
<body>
    {% lucide "air-vent" %}
</body>
</html>
